@page "/help"

<PageTitle>Help</PageTitle>

<h1>Help</h1>
<div>
    <p>Each user can only see and modify their own short URL records.</p>
    <p>Admin users can see and modify all short URL records.</p>
    <p>By adding one or more schedules to a record, the target URL can be automatically changed at a later time - either once or on a recurring basis, if needed.</p>
</div>
